.designer-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  height: 720px;
}

.designer-image {
  position: relative;
  width: 370px;
  height: 636px;
  left: -20px;
  background: url("../images/designerImage.png");
  border-radius: 150px;
}

.designer-text {
  position: relative;
  height: 170px;
  left: 0px;
  top: -380px;
}

.designer-name {
  position: relative;
  left: -15px;
  top: -100px;
  color: #6c4013;
  text-align: center;
  font-family: "Argue DEMO";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}
