.nomad-landing-container {
  position: relative;
  background: rgba(0, 0, 0, 0.7);
}

.nomad-logo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 515px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.nomad-imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .nomadLandingImg > img {
  width: 100%;
  border: 1px solid red;
} */

.img-1 img {
  width: 396px;
  height: 515px;
}

.img-2 img {
  width: 396px;
  height: 515px;
}

.img-3 img {
  width: 396px;
  height: 515px;
}

.img-4 img {
  width: 400px;
  height: 515px;
}

.roleContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: -4px -2px 0 -2px;
  color: white;
  background: #1c1b1b;
  font-family: "Circular Std", sans-serif;
  border: 1px solid;
}

.roleContent {
  width: auto;
  height: 120px;
  margin: 30px;
  padding: 10px;
  line-height: 24px;
}

.year {
  font-family: "HK Grotesk", sans-serif;
}

.macbook-pro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1px;
  height: 816px;
  background: #051045;
}

.macbook-pro > div {
  padding-left: 80px;
}

.background-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 762px;
  background: linear-gradient(90deg, #265de3 0%, #ab85ee 100%);
}

.background-section > div {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.background-large-text {
  width: 40%;
}

.background-large-text h4 {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #febc2c;
}

.background-large-text p {
  font-family: "Argue DEMO";
  font-style: normal;
  font-weight: 400;
  font-size: 84px;
  color: #ffffff;
}

.background-paragraph {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  color: #ffffff;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.para-1 {
  padding: 0px 20px 20px 8px;
}

.para-2 {
  padding: 0px 20px 20px 22px;
}

.work-overview {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 750px;
  background: #051045;
  color: #ffffff;
}

.work-overview > div {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.work-over-text {
  width: 40%;
}

.work-over-text h4 {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #febc2c;
}

.work-over-text h2 {
  font-family: "Argue DEMO";
  font-style: normal;
  font-weight: 400;
  font-size: 84px;
}

.work-over-text-para {
  width: 50%;
  height: auto;
  font-family: "Circular Std";
  font-style: normal;
  line-height: 32px;
  color: #ffffff;
}

.fastr {
  font-weight: 400;
  font-size: 18px;
  color: #cfcfcf;
}

.fastr > strong {
  font-size: 20px;
  color: #ffffff;
}

.solution {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
  color: #cfcfcf;
}

.solution h4 {
  font-family: "Argue DEMO";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 5px;
}

.research {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 793px;
  background: linear-gradient(90deg, #265de3 0%, #ab85ee 100%);
}

.research > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

.research-header-and-image {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.research-header h4 {
  font-size: 18px;
  color: #febc2c;
}

.research-header h2 {
  font-family: "Argue DEMO";
  font-style: normal;
  font-weight: 400;
  font-size: 84px;
}

.research-image {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.research-image > div {
  display: grid;
  width: auto;
  color: #ffffff;
}

.image-box > img {
  width: 100%;
  object-fit: contain;
}

.image-box-1 {
  align-self: end;
}

.image-box-2 {
  grid-column: 2;
  grid-row: 1/3;
}

.manImage {
  height: 473px;
}

.research-para {
  width: 50%;
  color: #e0e0e0;
  line-height: 24px;
  margin-top: 180px;
}

.interview {
  height: 160px;
  margin: 0px 0 10px 0;
}

.interview-line {
  width: 32px;
  border: 2px solid #f2f2f2;
}

.interview > h4 {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.interview > p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

.persona {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 860px;
  color: #ffffff;
  background: #051045;
}

.persona > div {
  width: 80%;
  padding: 30px;
}

.persona > div > h2 {
  margin-bottom: 40px;
  font-family: "Argue DEMO";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
}

.persona-image-description {
  display: flex;
  margin: 0 auto;
}

.persona-image {
  width: 20%;
}

.persona-image > img {
  border-radius: 50%;
}

.description {
  width: 80%;
  margin: 20px 0;
  padding: 10px;
}

.description > h2 {
  font-family: "Argue DEMO";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
}

.first-paragraph {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.second-paragraph {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  width: 50%;
  letter-spacing: 0.03em;
  color: #febc2c;
}

.card-container {
  display: flex;
}

.card {
  width: 439px;
  height: 215px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  margin: 20px 5px;
  padding: 20px;
}

.card > h3 {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

.card > ul {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  padding: 25px 15px;
  color: #000000;
}

.girl-image {
  height: auto;
}

.girl-image > img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.website-section {
  margin-top: -5px;
  height: 1500px;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, #265de3 0%, #ab85ee 100%);
}

.website-section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.section-header-container {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  height: auto;
}

.website-section-header {
  width: 40%;
}

.website-section-header > h4 {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #febc2c;
}

.website-section-header > h2 {
  font-family: "Argue DEMO";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  color: #ffffff;
}

.website-section-paragraph {
  width: 50%;
  padding: 20px;
}

.para > h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}

.para > p {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  color: #ffffff;
}

.nomad-website-section-table {
  margin-top: 50px;
}

.wireframe-section {
  display: flex;
  justify-content: center;
  background: #051045;
}

.wireframe-section > div {
  margin: 100px 0;
  padding: 20px 20px;
  width: 80%;
}

.wireframe-section > div > h2 {
  margin-bottom: 60px;
  font-family: "Argue DEMO";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  color: #ffffff;
}

.wireframe-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  margin: 0 auto;
}

.wireframe-images > div {
  background: #ffffff;
}

.wireframe-images > div > img {
  width: 100%;
}

.high-fidelity-wireframe {
  display: flex;
  justify-content: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #040e43;
}

.high-fidelity-wireframe > div {
  margin: 30px 0;
  padding: 20px;
  width: 80%;
}

.high-fidelity-header {
  margin: 35px 0 20px 0;
  font-family: "Argue DEMO";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
}

.high-fidelity-small-header {
  margin-bottom: 40px;
  font-size: 20px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.nomad-hf-landing-page {
  margin-bottom: 5px;
  font-size: 20px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.landing-page-container {
  display: flex;
  font-size: 20px;
}

.landingPage-image {
  color: #ffffff;
  margin: 5px 30px 5px 5px;
}

.landingPage-image > div {
  margin: 30px 0;
}

.landingPage-image > div > img {
  width: 100%;
}

.landingPage-image > div > p {
  margin: 20px 0;
}

.key-takeaway-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #265de3 0%, #ab85ee 100%);
}

.nomad-key-takeaway {
  width: 80%;
}

.nomad-key-takeaway h2 {
  margin: 80px 0 30px 0;
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0.03rem;
  color: #ffffff;
}

.nomad-key-takeaway p {
  width: 70%;
  font-size: 20px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  color: #ffffff;
}

.nomad-pagination-container {
  margin-top: 50px;
}
