.project-header {
  text-align: center;
  margin-top: 60px;
  width: auto;
  color: #664500;
  font-family: "Argue DEMO";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
}

.project-lists {
  margin: 30px auto;
  width: 80%;
  height: auto;
  font-family: "Argue DEMO";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  color: #664500;
}

.project-list {
  border-bottom: 0.3px solid #664500;
  padding: 40px 0;
}
.project-list p {
  cursor: pointer;
}

.project-list:last-child {
  border-bottom: none;
  padding: 40px 0;
}
