.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Argue DEMO", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  border-bottom: 2px solid #6c4013;
  height: 100px;
}

.resume-bar {
  text-decoration: underline;
}

.link {
  color: #6c4013;
  text-decoration: none;
}

a {
  color: #6c4013;
}
