.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Argue DEMO", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  border-bottom: 2px solid #6c4013;
  height: 100px;
}

/* .logo {
  position: absolute;
  width: 40px;
  height: 60.84px;
  left: 110px;
  top: 35px;
} */

/* .project-bar {
  position: absolute;
  width: 95px;
  height: 36px;
  left: 725px;
  top: 58px;
} */

.resume-bar {
  text-decoration: underline;
}

.link {
  color: #6c4013;
  text-decoration: none;
}

a {
  color: #6c4013;
}
