.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 150px;
  border-top: 0.4px solid #ffffff;
}

.pag {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.dark > div {
  display: flex;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding: 20px 0;
  color: #000;
}

.light > div {
  display: flex;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding: 20px 0;
  color: #ffffff;
}

.pag > div > p {
  margin: 2px 10px 0 10px;
}
