@import url("http://fonts.cdnfonts.com/css/argue-demo");
@import url("http://fonts.cdnfonts.com/css/circular-std");
@import url("http://fonts.cdnfonts.com/css/hk-groteks");
@import url("http://fonts.cdnfonts.com/css/recoleta");
@import url("http://fonts.cdnfonts.com/css/avenir-next-lt-pro");
@import url("http://fonts.cdnfonts.com/css/dm-sans");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e8d9b3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
